* {
    font-family: monospace;
  }
  
  body {
    font-size: 5px;
    text-align: center;
  }

 
  #calcContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(99, 108, 110);
    border-radius: 5px;
    padding: 10px;
    max-width: 215px;
    min-width: 215px;
    text-align: center;
    overflow: hidden;
    background-color: rgb(182, 187, 189);
    
    
    
  }

  #display {
    background-color:rgb(231, 231, 231);
    display: flex;    
    border-radius: 5px;
    grid-column: span 4;
    font-size: 6em;
    justify-content: right;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    font-family: ;
    border: 2px solid rgb(99, 108, 110);
  }

  #calcContents{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-gap:5px
  }

  .wide{
    grid-column: span 2;
  }

  button {
    color: black;
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(99, 108, 110);
    border-radius: 5px;
  }

  .button {
    padding: ;
  }

  #clear {
    background-color: rgb(178, 240, 240);
  }

  #delete {
    background-color: rgb(243, 190, 190);
  }
